:root {
    --cor-do-header: #EEC759; 
    --cor-do-site: #B4B2AF;
    --cor-secoes: #F8D87F;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--cor-do-site);
}

header {
    background-color: var(--cor-do-header);
    padding: 5px;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

footer {
    background-color: var(--cor-do-header);
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin-bottom: 0px;
}

.nome-do-site {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.link-list {
    width: 75%;
    display: flex;
    font-size: 26px;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.link-list a {
    text-decoration: none;
    color: black;
    margin: 0 3rem;

}

.receitas h2{
    font-size: 32px;
    font-weight: 300;
    margin-left: 15px;
}

.doces {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin: 0px;
}

.nome-doce {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}


.nome-doce a {
    text-decoration: none;
    color: black;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secoes);
    border: 1px solid black;
    border-radius: 8px;
    width: 50%;
    padding: 2rem;
    margin: 20px auto;
}

.sobre-nos h2 {
    margin-top: 10px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.descricao p {
    margin-left: 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}